@model IEnumerable< ShopifyMVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SHOPIFY</h1>
    <p>Satisfying the needs of our Customers</p>
</div>

@{ 
    foreach(var prd in Model)
    {

    }
}
